@import "./src/helpers.scss";

.App_masthead {
  background: $background-highlight-color;
}

.App_mastheadImage {
  display: inline-block;
  height: 36px;
  padding: $basic-space;
}

.App_mastheadLink {
  display: inline-block;
  vertical-align: top;
  padding: $basic-space 0;
}

.App_content {
  display: flex;
  max-width: 1000px;

  @include media(desktop) {
    margin: 0 auto;
    padding: 0 $basic-space;
  }
}

.App_main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;

  width: 50%;
  background-color: $background-highlight-color;

  @include media(desktop) {
    width: 70%;
  }
}

.App_aside {
  width: 50%;

  @include media(desktop) {
    width: 30%;
    padding-right: $special-space;
  }
}

.App_searchResults {
  max-height: 90vh;
  overflow-y: auto;
}

.App_footer {
  text-align: center;
  padding-top: $special-space;
  padding-bottom: $basic-space;
}

.App_searchInput {
  width: 100%;
  padding: 6px 12px;
  margin-bottom: $basic-space;
}
